.elementor-kit-6304{--e-global-color-primary:#012B43;--e-global-color-secondary:#EF5241;--e-global-color-text:#6F767D;--e-global-color-accent:#111419;--e-global-color-c1b9bcd:#BACCD6;--e-global-color-046e6e4:#F1F4F6;--e-global-color-dadb683:#FFFFFF;--e-global-color-e156807:#D5BECB;--e-global-typography-primary-font-family:"Figtree";--e-global-typography-primary-font-size:36px;--e-global-typography-primary-font-weight:500;--e-global-typography-primary-line-height:1.27em;--e-global-typography-secondary-font-family:"Figtree";--e-global-typography-secondary-font-size:24px;--e-global-typography-secondary-font-weight:400;--e-global-typography-secondary-line-height:1.41em;--e-global-typography-text-font-family:"Figtree";--e-global-typography-text-font-size:17px;--e-global-typography-text-font-weight:400;--e-global-typography-text-line-height:1.64em;--e-global-typography-accent-font-family:"Figtree";--e-global-typography-accent-font-size:14px;--e-global-typography-accent-font-weight:700;--e-global-typography-accent-text-transform:uppercase;--e-global-typography-accent-line-height:1.57em;--e-global-typography-accent-letter-spacing:2px;--e-global-typography-29f8a81-font-family:"Figtree";--e-global-typography-29f8a81-font-size:120px;--e-global-typography-29f8a81-font-weight:400;--e-global-typography-29f8a81-line-height:1em;--e-global-typography-00b5533-font-family:"Figtree";--e-global-typography-00b5533-font-size:100px;--e-global-typography-00b5533-font-weight:400;--e-global-typography-00b5533-line-height:1em;--e-global-typography-0d36f31-font-family:"Figtree";--e-global-typography-0d36f31-font-size:82px;--e-global-typography-0d36f31-font-weight:400;--e-global-typography-0d36f31-line-height:1.09em;--e-global-typography-c624f8c-font-family:"Figtree";--e-global-typography-c624f8c-font-size:70px;--e-global-typography-c624f8c-font-weight:400;--e-global-typography-c624f8c-line-height:1.11em;--e-global-typography-402d77f-font-family:"Figtree";--e-global-typography-402d77f-font-size:64px;--e-global-typography-402d77f-font-weight:400;--e-global-typography-402d77f-line-height:1.18em;--e-global-typography-4b17368-font-family:"Figtree";--e-global-typography-4b17368-font-size:44px;--e-global-typography-4b17368-font-weight:400;--e-global-typography-4b17368-line-height:1.23em;--e-global-typography-51c01da-font-family:"Figtree";--e-global-typography-51c01da-font-size:30px;--e-global-typography-51c01da-font-weight:400;--e-global-typography-51c01da-line-height:1.33em;--e-global-typography-2243f38-font-family:"Figtree";--e-global-typography-2243f38-font-size:22px;--e-global-typography-2243f38-font-weight:500;--e-global-typography-2243f38-line-height:1.63em;--e-global-typography-0fd2fbc-font-family:"Figtree";--e-global-typography-0fd2fbc-font-size:19px;--e-global-typography-0fd2fbc-font-weight:500;--e-global-typography-0fd2fbc-line-height:1.4em;--e-global-typography-7da8cda-font-family:"Figtree";--e-global-typography-7da8cda-font-size:12px;--e-global-typography-7da8cda-font-weight:600;--e-global-typography-7da8cda-text-transform:uppercase;--e-global-typography-7da8cda-line-height:0.9em;--e-global-typography-7da8cda-letter-spacing:1.5px;--e-global-typography-f77da21-font-family:"Figtree";--e-global-typography-f77da21-font-size:16px;--e-global-typography-f77da21-font-weight:600;--e-global-typography-f77da21-line-height:1em;font-family:"Figtree", Sans-serif;font-size:17px;font-weight:400;line-height:1.64em;}.elementor-kit-6304 button,.elementor-kit-6304 input[type="button"],.elementor-kit-6304 input[type="submit"],.elementor-kit-6304 .elementor-button{background-color:var( --e-global-color-primary );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );color:var( --e-global-color-dadb683 );border-style:solid;border-width:1px 1px 1px 1px;border-color:var( --e-global-color-primary );border-radius:170px 170px 170px 170px;padding:20px 40px 20px 40px;}.elementor-kit-6304 button:hover,.elementor-kit-6304 button:focus,.elementor-kit-6304 input[type="button"]:hover,.elementor-kit-6304 input[type="button"]:focus,.elementor-kit-6304 input[type="submit"]:hover,.elementor-kit-6304 input[type="submit"]:focus,.elementor-kit-6304 .elementor-button:hover,.elementor-kit-6304 .elementor-button:focus{background-color:#FFFFFF00;color:var( --e-global-color-primary );}.elementor-kit-6304 e-page-transition{background-color:#FFBC7D;}.elementor-kit-6304 a{color:var( --e-global-color-primary );}.elementor-kit-6304 h1{color:var( --e-global-color-primary );font-family:var( --e-global-typography-0d36f31-font-family ), Sans-serif;font-size:var( --e-global-typography-0d36f31-font-size );font-weight:var( --e-global-typography-0d36f31-font-weight );line-height:var( --e-global-typography-0d36f31-line-height );}.elementor-kit-6304 h2{color:var( --e-global-color-primary );font-family:var( --e-global-typography-c624f8c-font-family ), Sans-serif;font-size:var( --e-global-typography-c624f8c-font-size );font-weight:var( --e-global-typography-c624f8c-font-weight );line-height:var( --e-global-typography-c624f8c-line-height );}.elementor-kit-6304 h3{color:var( --e-global-color-primary );font-family:var( --e-global-typography-402d77f-font-family ), Sans-serif;font-size:var( --e-global-typography-402d77f-font-size );font-weight:var( --e-global-typography-402d77f-font-weight );line-height:var( --e-global-typography-402d77f-line-height );}.elementor-kit-6304 h4{color:var( --e-global-color-primary );font-family:var( --e-global-typography-4b17368-font-family ), Sans-serif;font-size:var( --e-global-typography-4b17368-font-size );font-weight:var( --e-global-typography-4b17368-font-weight );line-height:var( --e-global-typography-4b17368-line-height );}.elementor-kit-6304 h5{color:var( --e-global-color-primary );font-family:var( --e-global-typography-51c01da-font-family ), Sans-serif;font-size:var( --e-global-typography-51c01da-font-size );font-weight:var( --e-global-typography-51c01da-font-weight );line-height:var( --e-global-typography-51c01da-line-height );}.elementor-kit-6304 h6{color:var( --e-global-color-primary );font-family:var( --e-global-typography-2243f38-font-family ), Sans-serif;font-size:var( --e-global-typography-2243f38-font-size );font-weight:var( --e-global-typography-2243f38-font-weight );line-height:var( --e-global-typography-2243f38-line-height );}.elementor-kit-6304 input:not([type="button"]):not([type="submit"]),.elementor-kit-6304 textarea,.elementor-kit-6304 .elementor-field-textual{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );border-style:solid;border-width:0px 0px 1px 0px;padding:10px 0px 10px 0px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1300px;}.e-con{--container-max-width:1300px;}.elementor-widget:not(:last-child){margin-block-end:20px;}.elementor-element{--widgets-spacing:20px 20px;--widgets-spacing-row:20px;--widgets-spacing-column:20px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-lightbox{background-color:#11141999;--lightbox-ui-color:var( --e-global-color-dadb683 );--lightbox-ui-color-hover:var( --e-global-color-dadb683 );--lightbox-text-color:var( --e-global-color-dadb683 );--lightbox-header-icons-size:24px;--lightbox-navigation-icons-size:32px;}@media(max-width:1440px){.elementor-kit-6304 h1{font-size:var( --e-global-typography-0d36f31-font-size );line-height:var( --e-global-typography-0d36f31-line-height );}.elementor-kit-6304 h2{font-size:var( --e-global-typography-c624f8c-font-size );line-height:var( --e-global-typography-c624f8c-line-height );}.elementor-kit-6304 h3{font-size:var( --e-global-typography-402d77f-font-size );line-height:var( --e-global-typography-402d77f-line-height );}.elementor-kit-6304 h4{font-size:var( --e-global-typography-4b17368-font-size );line-height:var( --e-global-typography-4b17368-line-height );}.elementor-kit-6304 h5{font-size:var( --e-global-typography-51c01da-font-size );line-height:var( --e-global-typography-51c01da-line-height );}.elementor-kit-6304 h6{font-size:var( --e-global-typography-2243f38-font-size );line-height:var( --e-global-typography-2243f38-line-height );}.elementor-kit-6304 button,.elementor-kit-6304 input[type="button"],.elementor-kit-6304 input[type="submit"],.elementor-kit-6304 .elementor-button{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-6304 input:not([type="button"]):not([type="submit"]),.elementor-kit-6304 textarea,.elementor-kit-6304 .elementor-field-textual{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}@media(max-width:1279px){.elementor-kit-6304{--e-global-typography-29f8a81-font-size:90px;--e-global-typography-00b5533-font-size:80px;--e-global-typography-0d36f31-font-size:72px;--e-global-typography-c624f8c-font-size:64px;--e-global-typography-402d77f-font-size:56px;}.elementor-kit-6304 h1{font-size:var( --e-global-typography-0d36f31-font-size );line-height:var( --e-global-typography-0d36f31-line-height );}.elementor-kit-6304 h2{font-size:var( --e-global-typography-c624f8c-font-size );line-height:var( --e-global-typography-c624f8c-line-height );}.elementor-kit-6304 h3{font-size:var( --e-global-typography-402d77f-font-size );line-height:var( --e-global-typography-402d77f-line-height );}.elementor-kit-6304 h4{font-size:var( --e-global-typography-4b17368-font-size );line-height:var( --e-global-typography-4b17368-line-height );}.elementor-kit-6304 h5{font-size:var( --e-global-typography-51c01da-font-size );line-height:var( --e-global-typography-51c01da-line-height );}.elementor-kit-6304 h6{font-size:var( --e-global-typography-2243f38-font-size );line-height:var( --e-global-typography-2243f38-line-height );}.elementor-kit-6304 button,.elementor-kit-6304 input[type="button"],.elementor-kit-6304 input[type="submit"],.elementor-kit-6304 .elementor-button{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-6304 input:not([type="button"]):not([type="submit"]),.elementor-kit-6304 textarea,.elementor-kit-6304 .elementor-field-textual{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:720px){.elementor-kit-6304{--e-global-typography-primary-font-size:28px;--e-global-typography-29f8a81-font-size:72px;--e-global-typography-00b5533-font-size:64px;--e-global-typography-0d36f31-font-size:56px;--e-global-typography-c624f8c-font-size:46px;--e-global-typography-402d77f-font-size:36px;--e-global-typography-4b17368-font-size:32px;--e-global-typography-51c01da-font-size:28px;--e-global-typography-2243f38-font-size:20px;--e-global-typography-0fd2fbc-font-size:17px;--e-global-typography-f77da21-font-size:15px;}.elementor-kit-6304 h1{font-size:var( --e-global-typography-0d36f31-font-size );line-height:var( --e-global-typography-0d36f31-line-height );}.elementor-kit-6304 h2{font-size:var( --e-global-typography-c624f8c-font-size );line-height:var( --e-global-typography-c624f8c-line-height );}.elementor-kit-6304 h3{font-size:var( --e-global-typography-402d77f-font-size );line-height:var( --e-global-typography-402d77f-line-height );}.elementor-kit-6304 h4{font-size:var( --e-global-typography-4b17368-font-size );line-height:var( --e-global-typography-4b17368-line-height );}.elementor-kit-6304 h5{font-size:var( --e-global-typography-51c01da-font-size );line-height:var( --e-global-typography-51c01da-line-height );}.elementor-kit-6304 h6{font-size:var( --e-global-typography-2243f38-font-size );line-height:var( --e-global-typography-2243f38-line-height );}.elementor-kit-6304 button,.elementor-kit-6304 input[type="button"],.elementor-kit-6304 input[type="submit"],.elementor-kit-6304 .elementor-button{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-6304 input:not([type="button"]):not([type="submit"]),.elementor-kit-6304 textarea,.elementor-kit-6304 .elementor-field-textual{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */@media (min-width: 1440px) {
    .e-con-inner {
        max-width: 1400px;
    }
}

/*Spacing*/
@media (min-width: 1440px) {
    .n-orken-container--wide{
       padding-left: 90px !important;
       padding-right: 90px !important;
    }
}

@media (max-width: 1440px) {
    .n-orken-container--wide {
       padding-left: 30px !important;
       padding-right: 30px !important;
    }
}

@media (max-width: 1279px) {
    .n-orken-container--wide {
       padding-left: 20px !important;
       padding-right: 20px !important;
    }
}

@media (min-width: 1440px) {
    .n-orken-container--narrow{
       padding-left: 200px !important;
       padding-right: 200px !important;
    }
}

@media (max-width: 1440px) {
    .n-orken-container--narrow {
       padding-left: 30px !important;
       padding-right: 30px !important;
    }
}

@media (max-width: 1279px) {
    .n-orken-container--narrow {
       padding-left: 20px !important;
       padding-right: 20px !important;
    }
}

/* Carousel Visible */
.swiper-slide-visible,
body:not(.elementor-editor-active) .h-neuron-animation--wow:not(.active) {
    opacity: 1 !important;
}

@media (max-width: 1279px) {
    .neuron-slides-wrapper {
        overflow: hidden !important;
    }   
}

.icon-orange:before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBpZD0iRG90IiBjeD0iNSIgY3k9IjUiIHI9IjQiIHN0cm9rZT0iI0VGNTI0MSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
    position: absolute;
    left: 0;
}

.icon-orange,
.icon-mist,
.icon-white {
    padding-left: 16px;
}

.icon-mist:before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBpZD0iRG90IiBjeD0iNSIgY3k9IjUiIHI9IjQiIHN0cm9rZT0iI0JBQ0NENiIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
    position: absolute;
    left: 0;
}

.icon-white:before {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBpZD0iRG90IiBjeD0iNSIgY3k9IjUiIHI9IjQiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
    position: absolute;
    left: 0;
}

h2, h3 {
    text-transform: none;
}

/* Carousel Visible */
.swiper-slide-visible,
body:not(.elementor-editor-active) .h-neuron-animation--wow:not(.active) {
    opacity: 1 !important;
}

@media (max-width: 1279px) {
    .neuron-slides-wrapper {
        overflow: hidden !important;
    }   
}

.elementor-lightbox .elementor-swiper-button i {
    font-size: 40px
}

.elementor-slideshow__footer {
    padding-bottom: 32px;
}

.elementor-slideshow__footer div {
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.elementor-lightbox .elementor-swiper-button-prev .eicon-chevron-left:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI2LjY2NjcgMTZMNS4zMzMzNSAxNiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTE0LjIyMiAyNC44ODg3TDUuMzMzNDYgMTUuOTk5OEwxNC4yMjIyIDcuMTEwODkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=") !important;
}


.elementor-lightbox .elementor-swiper-button-prev .eicon-chevron-left {
  transform: rotate(0deg) !important
}

.elementor-lightbox .elementor-swiper-button-next .eicon-chevron-right {
  transform: rotate(180deg)
}

.elementor-lightbox .elementor-swiper-button-next .eicon-chevron-right:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI2LjY2NjcgMTZMNS4zMzMzNSAxNiIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPHBhdGggZD0iTTE0LjIyMiAyNC44ODg3TDUuMzMzNDYgMTUuOTk5OEwxNC4yMjIyIDcuMTEwODkiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=") !important;
}

/* Text Selector */
::-moz-selection {
    background-color: #BACCD6;
    color: #012B43;
}
::selection {
    background-color: #BACCD6;
    color: #012B43;
}/* End custom CSS */